<p style="color: green"><%= notice %></p>

  <% content_for :title, "Recipes" %>
  
  <h3>Recipes</h3>
  <small class="text-muted">All of your recipes will appear here.</small>
  
  <div id="recipes">
    <% @recipes.each do |recipe| %>
      <%= render recipe %>
      <p>
        <%= link_to "Show this recipe", recipe, class: "btn btn-secondary" %>
      </p>
    <% end %>
</div>
