<h1>About Us</h1>
<h2>Who we are</h2>
<small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, porro. Dolor ab nesciunt et autem natus. Debitis quae aliquid ipsam. Libero magni aliquam delectus omnis reprehenderit, odio id fuga beatae! <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat harum consequatur doloribus facilis odio minus earum esse cupiditate est quod unde ab ipsa, totam voluptate. Quibusdam vero optio quod accusantium.</small>

<div class="container-sm-center">
    <h2>The team</h2>
    <div class="row">
        <div class="col-md">
            <h3>John</h3>
            <%= image_tag 'profileImg.png', alt: '', class: 'w-50' %>
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint voluptate dolorum officiis necessitatibus ratione id! Dolore, sapiente.</small>
        </div>
        <div class="col-md">
            <h3>Paul</h3>
            <%= image_tag 'profileImg.png', alt: '', class: 'w-50' %>
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint consequuntur expedita accusamus magnam quibusdam debitis. Amet vero, maiores modi, provident molestias tempore dolorem cum labore quidem, itaque voluptate ducimus n</small>
        </div>
        <div class="col-md">
            <h3>George</h3>
            <%= image_tag 'profileImg.png', alt: '', class: 'w-50' %>
            <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos asperiores commodi velit minima inventore sapiente ut ducimus illum.</small>
        </div>
        <div class="col-md">
            <h3>Ringo</h3>
            <%= image_tag 'profileImg.png', alt: '', class: 'w-50' %>
            <p class="text-muted">sit amet consectetur adipisicing elit. Dignissimos asperiores commodi velit minima inventore sapiente ut ducimus illum.</small>
        </div>
    </div>
</div>

