<footer id="footer_div" class="bg-dark text-white text-center py-3">
    <div class="container">
      <p>&copy; <%= Time.now.year %> RecipeApp. All Rights Reserved.</p>
      <p>
        <a href="https://twitter.com" class="text-white me-3" target="_blank">Twitter</a>
        <a href="https://facebook.com" class="text-white me-3" target="_blank">Facebook</a>
        <a href="https://instagram.com" class="text-white" target="_blank">Instagram</a>
      </p>
    </div>
  </footer>